<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://thelibraryisnear.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>thelibraryisnear.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>thelibraryisnear</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$thelibraryisnear</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="LibraryDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iqs9n7wye7.database.windows.net,1433;Initial Catalog=LibraryDbContext;Integrated Security=False;User ID=theroadisnear@iqs9n7wye7;Password=mi5-2500kHD7850;Connect Timeout=30;Encrypt=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="library_prototype.DAL.LibraryDbContext, library_prototype" MigrationConfiguration="library_prototype.Migrations.Configuration, library_prototype" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)LibraryDbContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iqs9n7wye7.database.windows.net,1433;Initial Catalog=LibraryDbContext;Integrated Security=False;User ID=theroadisnear@iqs9n7wye7;Password=mi5-2500kHD7850;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="LibraryDbContext" />
  </ItemGroup>
</Project>